{% extends 'base.html' %}

{% block content %}
  <h2>Inventory</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>₦ {{ product.price }}</td>
          <td>
            <a href="{% url 'update_product' product.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No products available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
